@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollx{
  @apply grid grid-cols-[repeat(5,auto)] gap-[20px] pl-[16px] pb-[34px] w-full overflow-x-scroll;
}
.scrollx::-webkit-scrollbar {
  width: 0.2em;
  background-color: transparent;
}
.scrollx::-webkit-scrollbar-thumb {
  background-color: transparent;
}


