@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollx{
  @apply grid grid-cols-[repeat(5,auto)]  gap-[20px] pl-[16px] pb-[34px] w-full overflow-x-scroll xl:flex xl:flex-row xl:justify-center xl:items-center;
}
.scrollx::-webkit-scrollbar {
  width: 0.2em;
  background-color: transparent;
}
.scrollx::-webkit-scrollbar-thumb {
  background-color: transparent;
}

html{
  background: linear-gradient(180deg, #1F1E44 0%, #212048 100%);
}
