.titulo{
    font-family: 'Rowdies';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;
letter-spacing: 0.01em;
color: #E6E6E6;

padding-bottom: 35px;
}
.parrafo{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
letter-spacing: 0.015em;

color: #E6E6E6;

}